

.loader{
	position: fixed;
	background:#fff;
	z-index:11000;
	height:100%;
	width:100%;
	overflow:hidden;
}

.spinner {
  margin: auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  position:absolute;
  left:50%;
  right:50%;
  margin-left:-20px;
  top:50%;

  -webkit-animation: sk-rotate 3.0s infinite linear;
  animation: sk-rotate 3.0s infinite linear;
}

.dot1, .dot2, .dot3 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #00529b;
  border-radius: 100%;

  -webkit-animation: sk-bounce 3.0s infinite ease-in-out;
  animation: sk-bounce 3.0s infinite ease-in-out;
}
.dot1{
	background-color: #00529b;
}
.dot2 {
  top: auto;
  background-color: #da2128;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.dot3 {
  top:auto;
  background-color: #ffc20e;
  bottom: 0;
  -webkit-animation-delay: -2.0s;
  animation-delay: -2.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
