/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300|PT+Serif:400);

.marquee {
  font-size: 16px;
  height: 720;
  max-width: 1280px;
  margin: 0px auto 20px auto;
}

.marquee .marquee_data {
  display: none;
}

.marquee .marquee_stage_large {
}

.marquee .marquee_container_1,
.marquee .marquee_container_2 {
  height: 720px;
  width: 100%;
}

.marquee .marquee_container_1 {
  z-index: 101;
}

.marquee .marquee_container_2 {
  z-index: 102;
}

.marquee .marquee_panel {
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
}

.marquee .marquee_panel .panel_caption {
  width: 68%;
  position: absolute;
  bottom: 35px;
  left: 0px;
  margin-left: 16%;
  font-family: 'raleway', sans-serif;
  padding-bottom: 70px;
}

.marquee .marquee_panel .panel_caption h3 {
  margin: 0px 0px 0px 0px;
  font-weight: 400;
  font-size: 2.7em;
  color:#fff;
}

.marquee .marquee_panel .panel_caption p {
  margin: 0px 50px 15px 50px;
  color: #888;
  font-size: 1.3em;
  color: rgba(255,255,255,.75);
}

/*.marquee .marquee_panel .panel_caption a.cta {
  display: inline-block;
  background-color: #da2128;
  text-transform: uppercase;
  color:#fff;
  font-size: .9em;
  padding: 6px 20px;
  transition: background-color .7s, border .7s;
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 5px;
  text-decoration: none;
  z-index: 2;
}

.marquee .marquee_panel .panel_caption a:hover {
  background-color: rgba(255,255,255,.6);
  color:#000;
  border-color: rgba(255,255,255,0);
}*/

.marquee .marquee_panel .panel_caption a{
  z-index: 2;
  /*border-radius: 5px;*/
}

.marquee .overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0) 45%, rgba(0,0,0,.7) 70%);
  background-size: 100%;
  z-index: 1;
}

.marquee_nav {
  text-align: center;
  margin-top: 80px;
  height: 620px;
  z-index: 103;
}

.marquee_nav .tabitem:hover {
  background-color: rgba(255,255,255,.2);
  border-right: 3px solid #00529b;
}

.marquee_nav .tabitem {
  align-items: center;
  cursor: pointer;
  transition: background-color .4s, border .4s;
}

.mn_container .select {
  border-right: 3px solid #00529b;
  color: #da2128;
}

.tabitem div {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.marquee_nav h2 {
  font-size: 24px;
  text-transform: uppercase;
}

.marquee_nav p {
  font-size: 14px;
  color: #ffc20e;

}





