 @charset "utf-8";
/* CSS Document */

.green {
	background:#82b440;
	}
.green_light {
	background: rgba(130, 180, 64, 0.65);
	}
.blue{
	background:#00529b;
	}
.red{
	background:#da2128;
}
.yellow{
	background:#ffc20e;
}
.dark_gray {
	background:#969696;
	}

.darker_gray {
	background-color: #1B1D1F;
}

.we-do .do-wrap a{
	color:#969696;
}

.we-do .do-wrap a:hover{
	color:#ffc20e;
}
.we-do .do-wrap:hover .top,
.we-do .do-wrap:focus .top,
.we-do .do-wrap:hover span,
.we-do .do-wrap:focus span{
	background:#00529b;
}




